* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f5f0;
}

h1,
h2,
h3,
h4 {
  font-family: "Libre Baskerville", serif;
  color: #285d5f;
}

p,
ol,
li {
  font-family: "Merriweather", serif;
  color: #0e2225;
}

button {
  font-family: "TradeGothic", sans-serif;
  font-weight: 500;
}

/* Style for the paragraph inside Section */
.tekst p {
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 650px) {
  .tekst p {
    font-size: 20px;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

/* hvordan man sætter font ind: font-family: 'TradeGothic', sans-serif;*/
@font-face {
  font-family: "TradeGothic";
  src: url("/fonts/TradeGothicNo.20-Condensed Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
