* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f5f0;
}

h1,
h2,
h3,
h4 {
  font-family: "Libre Baskerville", serif;
  color: #285d5f;
}

p,
ol,
li,
button {
  font-family: "Merriweather", serif;
  color: #0e2225;
}

/* Style for the paragraph inside Section */
.tekst p {
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 650px) {
  .tekst p {
    font-size: 20px;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
