---
import "../styles/styles.css"
import Header from "../components/Header.astro"
import Section from "../components/Section.astro"
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pårørende Netværket</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body>

<Header />
<Section title="velkommen til" title2="pårørende netværk">
      <div class="tekst">
	   <p>Pårørende Netværket - Misbrugsportalen henvender sig til alle mennesker, som har brug for hjælp og støtte, og hvis tilværelse er påvirket af rusmiddelmisbrug og -afhængighed – enten som pårørende eller som én med eget misbrugsproblem. Rådgivningen for misbrugsramte og pårørende har eksisteret i 11 år og er den ældste og første indsats i foreningen, etableret tilbage i 2013.</p>
    </div>
    </Section>
  </body>

