---
import "../styles/styles.css"
import Nav from "../components/Nav.astro"
import Header from "../components/Header.astro"
import Section from "../components/Section.astro"
import Om from "../components/Om.astro"
import Citater from "../components/Citater.astro"
import Form from "../components/Form.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="noindex">
    <title>Pårørende Netværket</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body>
<main>
	<Nav />
	<Header />
	<Section title="velkommen til" title2="pårørende netværk">
		  <div class="tekst">
		   <p>Pårørende Netværket - Misbrugsportalen henvender sig til alle mennesker, som har brug for hjælp og støtte, og hvis tilværelse er påvirket af rusmiddelmisbrug og -afhængighed – enten som pårørende eller som én med eget misbrugsproblem. Rådgivningen for misbrugsramte og pårørende har eksisteret i 11 år og er den ældste og første indsats i foreningen, etableret tilbage i 2013.</p>
		</div>
		</Section>
	<Om />
<Form title3="bliv frivillig i dag">
      <div class="tekst">
<p>Inden du udfylder ansøgningsskemaet, skal du have gennemført vores e-lærings introduktionskursus på forsiden af <a href="www.rådgiverportalen.dk">www.rådgiverportalen.dk</a>. </p>
<p>Kurset giver dig et godt indblik i rådgiverrollen og de vigtigste praktiske informationer.</p>
<p>Felter markeret med * skal udfyldes, og din ansøgning skal vedhæftes som et separat dokument. </p>
<p>Vi ser gerne, at du også sender dit CV, men det kan eftersendes.</p>
<p>Når skemaet er udfyldt, får du automatisk en mail med information om det videre forløb og en eventuel samtale.</p>
</div>
    </Form>
	<Citater />
</main>
  </body>

