---
import "../styles/styles.css"

---

<article>
    <h2>Når erfaring kan hjælpe andre</h2>
<div class="citatbild">
    <img src="imgs/hands.svg" alt="Hug">
    <div class="citater">
        <p>"Vær dig selv, vær nysgerrig, og hav mod til at være autentisk. Turde være menneske, turde være medfølende. Vær ydmyg – ingen ved alt. Vi kan lære af hinanden, for du er ikke eksperten. Som mennesker er vi ligeværdige, men i viden og faglighed har vi forskellige kompetencer."</p>
        <p> - Pernille 57 år, sygeplejerske i psykiatrien </p>
    </div>
</div>
    
</article>

<style>
    article {
        background-color: #E8EAE3;
    }

    article h2 {
        text-transform: uppercase;
    }

    .citatbild {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .citater {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .citater p {
        font-style: italic;
    }
</style>