---
---

<footer>
    <div class="footer_sammen">
    <div class="footer_grid1">
        <h3>Kontaktoplysninger</h3>
        <p>Pårørende Netværket - Misbrugsportalen <br>
 	Bagsværd Hovedgade 126, 2880 Bagsværd <br>
    <a href="#">	Klik her for rutevejledning</a>
 </p>

 <p>
 	Akutrådgivning: <a href="tel:+4570909080">     7090 9080</a>   <br>
 Telefontider: <br> Man-tirs: 15.00-18.00 <br> Ons-fre: 18.00-21.00 
 </p>

 <p>
    Akutrådgivningen tilbyder gratis og <br>
    fortrolige samtaler til pårørende og <br> personer over 18 år med misbrug.
 </p>

 <p>
    <a href="tel:+4570604446">    Sekretariat: 7060 4446</a> <br>
Telefontider: <br>
Alle hverdage fra kl.10-15.	
 </p>

 <p>
   Email: <a href="mailto:mail@misbrugsportalen.dk">mail@misbrugsportalen.dk</a>
 </p>
    </div>

    <div class="storgrid">
        <div class="grid_nr1">
<div class="footer2_grid">
     <div class="billede">
    <a href="index.html"><img class="logo2" src="imgs/pn.webp" alt="logo2"></a>
     </div>
     </div>
        </div>
     <div class="grid_nr2">
     <h3 class="h3_tid" >Åbningstider</h3>
     <div class="tider">
     <div class="mandag"> <p class="tiderne"> Mandag-tirsdag</p></div>
     <div class="femten"> <p class="tiderne"> 15.00-18.00 </p></div>
     <div class="onsdag"> <p class="tiderne"> Onsdag-fredag </p></div>
     <div class="atten"><p class="tiderne"> 18.00-21.00 </p></div>
     <div class="weekender"><p class="tiderne">Weekender og Helligdage </p></div>
     <div class="lukket"> <p class="tiderne2">Lukket</p></div>
     </div>
     <div class="forbehold">
        <p>Der tages forbehold for ændringer i åbningstiderne.</p>
     </div>
 </div>
</div>
 </div>

</footer>

<style>


    .footer_grid1 {
        padding-left: 30%;
    }


    h3 {
        color: #E5A823 ;
        text-transform: uppercase;
        font-size: 1.8rem;
        margin-bottom: -10px;
        font-family: lora;
    }

    .tider {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer_sammen {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
  
  .logo2 {
    width: 40%;
    display: flex;
    margin: auto;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer {
    background-color:#447A7A;
    padding-top: 5%;
    padding-bottom: 5%;
}

p {
    color: white;
    line-height: 1.6;
          font-family: lora;
          padding-top: 1%;
          padding-bottom: 1%;
}

a {
    color: white;
}

.tiderne,
.tiderne2 {
    line-height: 0;
    padding-top: 0%;
    padding-bottom: 0%;
}

.mandag,
.femten {
    padding-top: 5%;
}

@media (max-width: 880px) { 
       .footer_sammen {
        grid-template-columns: 1fr;
       } 

          .footer_grid1 {
        padding-left: 12%;
    }

      .logo2 {
    padding-right: 0%;
}

.tider {
padding-left: 12%;
}

.h3_tid {
    padding-left: 12%;
}

.forbehold {
    padding-left: 12%;
}

.storgrid {
    display: grid;
    grid-template-columns: 1fr;
}

.grid_nr2 {
    order: -1;
}

.footer_grid1 {
  margin-bottom: -40px;
}

}


</style>