---
---

<form>
        <label for="uploadCv">Upload CV her (.pdf, .doc, .docx)*</label><br>
        <input type="text" id="cv" name="cv" placeholder="Vælg fil..." required><br><br>
        
        <label for="uploadAnsøgning">Upload ansøgning her (.pdf, .doc, .docx)*</label><br>
        <input type="text" id="ansøgning" name="ansøgning"placeholder="Vælg fil..." required><br><br>
    </form>

<style>

</style>