---
import "../styles/styles.css"
---

<section>
    <div class="header-text">
    <h1>BLIV <br/> FRIVILLIG</h1>
    <p>"Vil du være med til at skabe meningsfuld forandring <br/> for mennesker, der er nærtstående til misbrugsramte? <br/> Bliv en del af vores team!"
        - Pårørende Netværket</p>
    </div>
    <div class="header-img">
        <img src="../public/imgs/Illustration.svg" alt="Illustration">
        </div>
</section>

<style>
    h1 {
        font-size: 7rem;
    }
    
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 8rem;
    }

    .header-text {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        padding-left: 5rem;
    }


    .header-img img {
        width: 70%;
        margin-bottom: 2rem;
    }

    .header-text p {
        font-size: 20px;
        line-height: 1.5;
    }

</style>