---

---

<section>
    <div class="header-text">
    <h1>BLIV <br/> FRIVILLIG</h1>
    <p>"Vil du være med til at skabe meningsfuld forandring <br/> for mennesker, der er nærtstående til misbrugsramte? <br/> Bliv en del af vores team!"
- Pårørende Netværket</p>
    </div>
<img src="../public/imgs/illustration.webp" alt="Illustration">
</section>

<style>
    h1 {
        font-size: 7rem;

    }
    .header-text {
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding-left: 5rem;
    }

    .header-text p {
        font-size: 1.5rem;
    }

</style>