---
import "../styles/styles.css"
---

<body>
    <h2>OM AT VÆRE FRIVILLIG</h2>

    <div class="om_1_1">
        <div>
            <h4>Hvad kan du lave som frivillig?</h4>
            <ol>
                <li>Vær mentor og støttende hånd for familier, der kæmper</li>
                <li>Hjælp med at samle mennesker i støttegrupper</li>
                <li>Lyt og vær der for dem, der har brug for at dele</li>
                <li>Sæt fokus på emnet ved at arrangere events</li>
            </ol>
        </div>

        <div>
            <h4>Hvem kan være med?</h4>
            <p>Uanset om du selv har oplevet afhængighed tæt på eller bare brænder for at hjælpe, så er der plads til dig.Det handler ikke om at være ekspert – det handler om at være et medmenneske.Hvis du kan lytte, lære og møde andre med omsorg, så er du allerede godt på vej.</p>
        </div>
    </div>
</body>

<style>

    .om_1_1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        line-height: 1.5;
    }

</style>