---
import "../styles/styles.css"
const { title, title2 } = Astro.props;
---

<section>
    <h3>{title}</h3>
  <h2>{title2}</h2>
  <slot />
</section>

<style>
  section{
    background-color: #E8EAE3;
    padding: 2rem;
  }

  h3{
    color: #285D5F;
   font-size: 16px;  /* skal måske ændres til 20px? */
    font-family: "Libre Baskerville", serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
  }
  h2{
    color: #285D5F;
    font-size: 20px; /* skal måske ændres til 28px? */
    font-family: "Libre Baskerville", serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

@media screen and (min-width: 650px) {
    section{
    padding: 4rem;
  }

  h3{
    
   font-size: 20px;  /* skal måske ændres til 20px? */
    margin-bottom: 0.8rem;
  }
  h2{
    font-size: 48px; /* skal måske ændres til 28px? */
    margin-bottom: 1rem;
  }
  
}

</style>